

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

head {}

body {}

/* Class dùng chung */



/* Class */
#header {
    height: var(--header-height);
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}


.logo__img {
    /* float: left;
    position: relative;
    left: 132px; */
    margin-left: 80px;
    height: 80px;
}


#nav {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    text-align: center;
    line-height: 80px;
}

#nav li {
    display: inline-block;
    text-align: center;
    border-left: solid 0.5px rgb(115, 112, 112);
}

.nav--item7 {
    border-right: solid 0.5px rgb(115, 112, 112);

}

#nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 50px;

}

#header .search {
    display: flex;
    justify-content: center;
    height: 36px;
    background-color: var(--primary-color);
    margin-left: 100px;
    border-radius: 5px;
    padding-left: 2px;
}

#header .search__inp {
    background-color: #000;
    align-self: center;
    height: 32px;
    border-radius: 5px 0 0 5px;
    border-color: transparent;
    padding-left: 4px;
}

#header .search__inp::placeholder {
    color: rgb(176, 176, 176);
    font-style: italic;
}


#header .search__btn {
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
    border-color: transparent;
    width: 32px;
}

#header .search__btn:hover {
    cursor: pointer;
    background-color: #cfa603;
}

#header .search__btn:hover .search__icon {
    color: #fff;
}

#header .search__inp,
#header .search__btn {
    position: relative;
}

#header .search__icon {
    color: #000;
    font-size: 15px;
    font-weight: 800;
    position: relative;
    top: 2px;
}

/* Slider */
#slider {
    margin-top: var(--header-height);
    text-align: center;
}

#content {
    margin-top: 32px;
}

#content .reason {
    text-align: center;
    color: #00a99d;
}

.reason__items {
    margin-top: 32px;
}

.reason__list {
    display: flex;
    justify-content: space-around;
}

.reason__item {
    display: flex;
    align-items: center;
}

.reason__img {
    width: 80px;
    margin-right: 16px;
}

.reason__title {
    color: #00a99d;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
}

.reason__discription {}

/* Product */
#products {
    
}

#products .product__title {
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
    margin: 100px 0 24px 0;
}

#products .product__underline {
    width: 200px;
    margin: auto;
    height: 50px;
    background: url(/assets/imgs/under_line_triangle.png) no-repeat center top,url(/assets/imgs/under_line_straight.gif) repeat-x left 9px;
    color: var(--text-color);

}

#products .product__items {
    margin: 0 168px;
    display: flex;
    justify-content: space-around;
}

#products .product__item {

}

#products .product__img {
    width: 276px;
}

#products .product__discription {
    text-align: center;
}

#products .product__small-discript {
    margin-bottom: 16px;
}

.product__name a::after {
    content: "";
    position: absolute;
    top: 100%;
    background-color: #000;
    z-index: 1;
}

#products .product__name {
    position: relative;
    text-decoration: none;
    color: #000;
}

#products .product__price {
    font-weight: 600;
    color: #fe3f0c;
}

#infor {
    height: 84px;
    background-color: #ffcb05;
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
    margin-top: 50px;
}

#infor .infor__title {
    display: flex;
}

#infor .infor__icon {
    font-size: 32px;
    margin: 26px 20px;
}

#infor .title {
    font-size: 20px;
    line-height: 84px;
}

#infor .email__infor {
    display: flex;
    margin-top: 20px;
}

#infor .email {
    height: 50px;
    width: 634px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 0 12px;
    outline: none;
    font-size: 14px;
}

#infor .send__btn {
    background-color: #414143;
    width: 100px;
    height: 50px;
    border-radius: 0 5px 5px 0;
}

#infor .send__icon {
    color: #fff;
    font-size: 28px;
    line-height: 50px;
    margin-left: 30px;
}

#footer {
    background-color: #333132;
    height: 238px;
    display: flex;
    padding: 32px 60px;
    justify-content: space-around;
}

/* Address */
.address__title {
    color: #7a671d;
    font-size: 15px;
    margin-bottom: 5px;
    position: relative;
    margin-bottom: 12px;
}

.address__title::after {
    content: "";
    height: 2px;
    width: 212px;
    background-color: #4f4f55;
    position: absolute;
    top: 100%;
    left: 0;
}

.addr {
    color: var(--text-color);
}

.number {
    color: var(--text-color);
}

/* Policy */
.policy__content {
    color: var(--text-color);
}

.supports {
    
}

.support__content {
    color: var(--text-color);
}

.infor {
    color: var(--text-color);
}