footer {
  height: 240px;
  background-color: #000;
}

.footer__logo {
  margin-top: 50px;
}

.footer__logo p {
  width: 190px;
  margin-top: 20px;
  line-height: 20px;
  color: #a5a5a5;
  font-size: 15px;
}

.footer__contacts {
  margin-top: 40px;
}

.contact__title {
  color: #ccc;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact__list a {
  color: #bbbbbb;
  font-weight: 400;
}

.contact__facebook i {
  margin: 0 10px 0 2px;
  color: #3b5998;
}

.contact__instagram i {
  margin-right: 8px;
  color: #ac2bac;
}

.contact__twitter i {
  margin-right: 4px;
  color: #55acee;
}

.footer__infor h4 {
  color: #ccc;
  font-size: 18px;
  margin-top: 30px;
}

.footer__infor input {
  height: 32px;
  width: 270px;
  border: none;
  border-radius: 5px;
  padding-left: 6px;
  font-size: 14px;
  display: block;
}

.footer__infor input:focus-visible {
  outline: none;
}

.footer__name {
  margin: 10px 0 14px 0;
}

.footer__email {
}

.footer__submit {
  height: 24px;
  width: 80px;
  margin-top: 14px;
  border: none;
  border-radius: 3px;
  background-color: #e53637;
  color: #fff;
}

.scroll-on-top {
  --size-of-btn: 60px;
  position: fixed;
  right: 78px;
  bottom: 72px;
  height: var(--size-of-btn);
  width: var(--size-of-btn);
  border: none;
  border-radius: 50%;
  background-color: #e53637;
  transform: rotate(-90deg);
}

.scroll-on-top.show {
  display: block !important;
}

.scroll-on-top i {
  font-size: 32px;
  color: #fff;
  line-height: var(--size-of-btn);
  margin: 0 auto;
}
