.background__img {
  height: 696px;
}

.login {
  padding: 0 !important;
}

.login__block {
  top: 0;
}

.login__row {
  height: 696px;
}

.login__main {
  background-color: rgba(255, 255, 255, 0.1);
}

.login__form {
  margin: 100px 0 0 150px;
}

.login__block h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.email__input,
.password__input {
  width: 400px;
  background-color: #fff;
  margin-top: 18px;
}

.input__icon {
  line-height: 48px;
  font-size: 24px;
  color: #b7b7b7;
  width: 48px;
  text-align: center;
  position: relative;
}

.input__icon::after {
  content: '';
  width: 2px;
  height: 32px;
  background-color: #b7b7b7;
  position: absolute;
  top: 8px;
  right: -8px;
}

.login__input {
  height: 48px;
  border: none;
  outline: none;
  padding-left: 24px;
  flex: 1;
  color: #505050;
}

.form__handle {
  margin: 28px 0 18px 0;
  width: 400px;
}

.submit {
  width: 160px;
  height: 42px;
  outline: none;
  border: none;
  background-color: #e53637;
  color: #dfdfdf;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

.forget {
  outline: none;
  border: none;
  background-color: transparent;
  color: #d4d4d4;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

.form__handle button:hover {
  color: #fff;
}

.link__register {
  color: #d4d4d4;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 40px;
}

.link__register:hover {
  color: #fff;
}

.login-by-social {
  padding-top: 35px;
  margin-top: 18px;
  width: 400px;
  border-top: 2px solid #ccc;
}

.login-by-social button {
  height: 36px;
  margin-bottom: 12px;
  border: none;
}

.login-by-social i {
  margin-right: 12px;
}

.by__facebook {
  color: #fff;
  background-color: #4267b2;
}

.by__google {
  color: #fff;
  background-color: #ccc;
}

.by__twitter {
  color: #fff;
  background-color: #1da1f2;
}
