.comment__block {
  border-top: 1px solid #ccc;
}

.newcomment-header__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.newcomment-header__title::before {
  content: '';
  width: 4px;
  height: 20px;
  background-color: #e53637;
  position: absolute;
  left: -7px;
  top: 3px;
}
