.pagination {
  width: 300px;
  margin: 0 auto 20px;
}

.page__item {
  padding: 0 8px;
  margin: 0 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.page__item.actived {
  background-color: #e53637;
  color: #fff;
}

.no--css {
  border: none;
}

.page__link {
  color: #ccc;
  font-weight: 400;
}

.page__link:hover {
  color: #fff;
}
